::placeholder {
    color: #A7C4BC;
    opacity: 1;
}

#My_bar {
    height: 50px;
    background-color: #2F5D62;
    color:white;
    
    background-position: center;
}

#Search_box {
    width: 1px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: 14px;
    background-image: url(search_24x24.png);
    background-repeat: no-repeat;
    background-position: right;

    background-color: #DFEEEA

  
}

#Pro_Pic {
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

#menu_button {
    width: 100px;
    display: inline-block;
    margin: 2px;
    /* background-color: #2F5D62; */
    color: #313f3b;
    font-size: 14px;
  


}
#friends_img{
    width: 75px;
    float: left;
    margin: 8px;
}
#friends_bar{
   background-color:white;
   min-height: 400px;
   margin-top: 20px;
   color: #2F5D62;
   padding: 8px;


}
#friends{
   clear: both;
   font-size: 12px;
   font-weight:bold;
}
textarea {
    width: 100%;
    border: none;
    font-family: Georgia, serif;
    font-size: 14px;
    height: 60px;
}

#post_button {
    float: right;
    background-color: #2F5D62;
    border: none;
    color: white;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;


}
#post_bar {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

#post {
    padding: 4px;
    font-size: 13px;
    display: flex;
    margin-bottom: 20px;
}

    